@import 'zekerenvastgoed.scss';

#block-zekerenvastgoed-content,
#block-tekstrecenteprojecten{
  margin-top: 100px;

  p{
    width: 75%;
    margin-left: 50px;
  }
  p:first-child{
    margin-top: -75px;
  }
}

h2{
  font-weight: 800;
  letter-spacing: 5px;
  font-variant: small-caps;
  font-size: 4.8rem;
  color: $beton;
  text-transform: lowercase;
  padding-left: 15px;
}

//mediaquery om alle margin-left te verwijderen
@media screen and (min-width: 1150px) {
  h2{
    padding-left: 0;
  }
}