@import 'zekerenvastgoed.scss';

.zvg-landing{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.zvg-landing-intro{
  position: absolute;
  max-width: 1140px;
  z-index: 1;
  top: 55%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#zvg-landing-video{
  min-width:100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  opacity: 0.5;
  z-index: -99;
}

.zvg-landing-intro{
  padding-left: 15px;
}

#block-intro{
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 50px;
  line-height: 2;

  //align center op kleine schermen
  text-align: center;

  h2{
    font-size: 2rem;
    font-weight: 700;
    color: $night;
    padding-left: 0;
  }

  p{
    //verbergen op kleine schermen
    display: none;
  }
}

//knoppen verbergen op kleinere schermen
#block-landingbuttons{
  display: none;
}

#block-landingbuttons,
#block-homepagebuttons
{
  //align center op kleine schermen
  text-align: center;

  div{
    display: inline-block;
  }
  a{
    background-color: $smurf;
    color: $snow;
    width: 175px;
    padding: 10px 0;
    text-decoration: none;
    margin-right: 15px;
    display: inline-block;
    text-align: center;
    border: 2px solid $smurf;
    transition: 1s ease;

    //margin bottom voor kleine schermen
    margin-bottom: 15px;
  }
  a:hover{
    color: $smurf;
    background-color: transparent;
  }
}

#block-homepagebuttons{
  padding-top: 25px;
}

//mediaquery om alle margin-left te verwijderen
@media screen and (min-width: 768px) {
  .zvg-landing-intro {
    top: 45%;
  }

    #block-intro{
    text-align: left;

    p{
      display: block;
    }
  }

  #block-landingbuttons{
    display: block;
  }

  #block-landingbuttons,
  #block-homepagebuttons
  {
    //align center op kleine schermen
    text-align: left;
  }

  #block-homepagebuttons{
    padding-left: 15px;
  }
}

@media screen and (min-width: 1150px) {
  #block-homepagebuttons{
    padding-left: 0px;
  }
}