@import 'zekerenvastgoed.scss';

#block-views-block-recente-projecten-block-1,
#block-views-block-recnete-projecten-block-1,
#block-views-block-tekoop-block-1,
.field--name-field-project-img{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  .views-row,
  .field__item{
    position: relative;
    //display: inline-block;
    //overflow: hidden;
    margin-bottom: 50px;
  }

  h2{
    padding-left: 15px;
    padding-bottom: 50px;
  }

  img{
    display: block;
    max-width: 100%;
    height: 100%;
  }

  .views-field-title{
    position: absolute;
    height: 100%;
    text-align: center;
    width: 100%;
    a{
      visibility: hidden;
      border: 1px solid $snow;
      width: 250px;
      padding: 25px 0;
      text-decoration: none;
      text-align: center;
      color: $snow;
      display: inline-block;
    }
  }

  .views-field-title:hover{
    background-color: $blackplastic;

    a{
      visibility: visible;
    }
  }

  .views-field-title:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

//voor projectpagina
.node--type-project-page{
  //verberg type en status
  .field--name-field-type,
  .field--name-field-proj-status{
    display: none;
  }
}

@media screen and (min-width: 768px) {
  #block-views-block-recente-projecten-block-1,
  #block-views-block-recnete-projecten-block-1,
  #block-views-block-tekoop-block-1,
  .field--name-field-project-img{

    padding-left: 15px;

    .views-row,
    .field__item{
      width: 47%;
    }
  }
}

@media screen and (min-width: 1150px) {
  #block-views-block-recente-projecten-block-1,
  #block-views-block-recnete-projecten-block-1,
  #block-views-block-tekoop-block-1,
  .field--name-field-project-img,
  h2{
    padding-left: 0;
  }
}

