@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,800');

$night: #111111;
$beton: #f1f1f1;
$evening: #666666;
$smurf: #3498db;
$snow: #ffffff;
$plastic: rgba(241,241,241, 0.3);
$blackplastic: rgba(0,0,0, 0.5);



